.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-left: 35px;
}
.header a:hover{
    color: red;
}